<!DOCTYPE html>
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <link href="{%static "css/bootstrap.min.css"%}" rel="stylesheet">
    <link href="{% static "css/cover.css" %}" rel="stylesheet">
    <title>REPOS LIST</title>
</head>
<body>
<b>Hi {{ user.name }} you repos are listed here do select one</b>
<form method="post" action="/lupine/webhooks/">
    {% for repo in repos %}
        <input type="radio" name="repo_name" value="{{ repo.name }}">{{ repo.name }}
        <br><br>
    {% endfor %}
        <input type="submit" value="see payload" class="btn-group-lg" style="color: #000000">
</form>
</body>
</html>